body {
    background-color: black;
}

.screen {
    width: 100vw;
    height: 100vh;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
}

.container {
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}

.item {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    background-image: url(ship.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid rgb(0, 0, 0);
    border-radius: .75em;
    display: block;
}

#a {
    width: 50%;
    justify-content: space-around;
    align-items: center;
    background-image: url(https://images.wallpaperscraft.com/image/space_background_blue_dots_73340_1920x1080.jpg);
    background-origin: content-box;
    background-position: center;
    background-size: contain;
}

#b {
    width: 50%;
    background-color: paleturquoise;
}